<div>
  <footer style="background-color: #deded5;">
  <div class="container p-4 d-flex justify-content-center">
    <div class="row">
      <div>
        <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
          <img src="https://cdn.midjourney.com/d62a6eb7-6e2b-4b4f-9e45-e3dabc8c6976/0_1.png" height="100" alt=""
               loading="lazy" />
        </div>
        <p class="text-center">TheExpiryManager</p>

        <a href="#!" style="letter-spacing: 2px; color: #818963;">Frequently Asked Questions</a>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    2023 Copyight ©
    <a class="text-dark">TheExpiryManager</a>
  </div>
  <!-- Copyright -->
</footer>

</div>
<!-- End of .container -->
