.navbar {
  background-color: #6B6054;
  color: beige;
}

header {
    height: 50px;
}

.app-container {
    height: 100%;
    width: 100%;
}

.links {
    position: absolute;
    right: 30px;
    a {
        margin-left: 20px;
    }
}

.logo {
    margin-top: -3px;
    color: beige;
    transform: scale(1.5);
}
