<header>
  <div class="container-about py-5">
    <div class="header">
      <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
        <div class="text-center">
          <p class="fw-bold text-success mb-2">About</p>
          <h1 class="fw-bold">
            The best solution for you to manage your warranties, food and
            subscriptions better
          </h1>
          <div>
            <img
              class="img-fluid-expirymanager"
              src="https://cdn.midjourney.com/d62a6eb7-6e2b-4b4f-9e45-e3dabc8c6976/0_1.png"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- features -->
<section>
  <div class="container-features bg-primary-gradient py-5">
    <div class="row">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <p class="fw-bold text-success mb-2">Features</p>
        <h3 class="fw-bold">What TheExpiryManager can do for you</h3>
      </div>
    </div>
    <div class="py-5 p-lg-5">
      <div class="row row-cols-1 row-cols-md-2 mx-auto">
        <div class="col mb-5 d-flex">
          <div class="card shadow-sm">
            <div
              class="card-body px-4 py-5 px-md-5 d-flex justify-content-center d-flex align-items-start mb-3 bs-icon"
            >
              <div class="row">
                <div class="bs-icon-lg me-3">
                  <span class="material-symbols-outlined"> notifications </span>
                </div>
                <div>
                  <h5 class="fw-bold card-title">Get Alerted</h5>
                  <p class="text-muted card-text mb-4">
                    Hate paying the additional? Never forget when an item is about to expire.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-5 d-flex">
          <div class="card shadow-sm">
            <div
              class="card-body px-4 py-5 px-md-5 d-flex justify-content-center d-flex align-items-start mb-3 bs-icon"
            >
              <div class="row">
                <div class="bs-icon-lg me-3">
                  <span class="material-symbols-outlined"> delete </span>
                </div>
                <div>
                  <h5 class="fw-bold card-title">Reduce Food Wastage</h5>
                  <p class="text-muted card-text mb-4">
                    The average family of four wastes 25% of their food each
                    year. Stay on track of what is in your kitchen at all times
                    and manage your food efficiently
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-5 d-flex">
          <div class="card shadow-sm">
            <div
              class="card-body px-4 py-5 px-md-5 justify-content-center d-flex align-items-start mb-3 bs-icon"
            >
              <div class="row">
                <div class="bs-icon-lg me-3">
                  <span class="material-symbols-outlined"> backup </span>
                </div>
                <div>
                  <h5 class="fw-bold card-title">Never Lose That Warranty</h5>
                  <p class="text-muted card-text mb-4">
                    All the data are stored and backed up in the cloud
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-5 d-flex">
          <div class="card shadow-sm">
            <div
              class="card-body px-4 py-5 px-md-5 justify-content-center d-flex align-items-start mb-3 bs-icon"
            >
              <div class="row">
                <div class="bs-icon-lg me-3">
                  <span class="material-symbols-outlined"> subscriptions </span>
                </div>
                <div>
                  <h5 class="fw-bold card-title">
                    All Your Subscriptions in One Place
                  </h5>
                  <p class="text-muted card-text mb-4">
                    Take control of all your subscriptions and avoid unnecessary
                    charges
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-contact">
    <div class="row mb-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <p class="fw-bold text-success mb-2">Contact Us</p>
        <h2 class="fw-bold">How you can reach us</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div
        class="col-md-4 col-xl-4 d-flex justify-content-center justify-content-xl-start"
      >
        <div
          class="d-flex flex-wrap flex-md-colum justify-content-md-start align-items-md-start h-100"
        >
          <div class="d-flex align-items-center p-3">
            <div
              class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"
            >
              <span class="material-symbols-outlined"> call </span>
            </div>
            <div class="px-2">
              <h6 class="fw-bold mb-0">Phone</h6>
              <p class="text-muted mb-0">+65 9234 5678</p>
            </div>
          </div>
          <div class="d-flex align-items-center p-3">
            <div
              class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"
            >
              <span class="material-symbols-outlined"> mail </span>
            </div>
            <div class="px-2">
              <h6 class="fw-bold mb-0">Email</h6>
              <p class="text-muted mb-0">theexpirymanager@gmail.com</p>
            </div>
          </div>
          <div class="d-flex align-items-center p-3">
            <div
              class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"
            >
              <span class="material-symbols-outlined"> location_on </span>
            </div>
            <div class="px-2">
              <h6 class="fw-bold mb-0">Location</h6>
              <p class="text-muted mb-0">123 Example Street</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
