header {
    height: 50px;
}

.app-container {
  min-height: calc(100vh - 402px);
}

.links {
    position: absolute;
    right: 30px;
    a {
        margin-left: 20px;
    }
}

footer {
  position: absolute;
  bottom: 0;
}
